<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="KwetterShared" value="https://pkgs.dev.azure.com/407383/Kwetter/_packaging/KwetterShared/nuget/v3/index.json" />
  </packageSources>
  <activePackageSource>
    <add key="NuGet official package source" value="https://api.nuget.org/v3/index.json" />
    <add key="KwetterShared" value="https://pkgs.dev.azure.com/407383/Kwetter/_packaging/KwetterShared/nuget/v3/index.json" />
  </activePackageSource>
</configuration>